.body-wrapper {
  background-color: var(--White);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 12px;
  width: 476px;
  padding: 40px;
  min-height: 496px;

  @media (max-width: 490px) {
    width: 100%;
    padding: 0px;
  }
}
