.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(54, 55, 64, 0.4); */
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  animation: blurAnimation 0.1s ease normal;
}

@keyframes blurAnimation {
  0% {
    backdrop-filter: blur(0);
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2.5px);
  }
}

.inner-body {
  background-color: var(--White);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 12px;
  width: 476px;
  padding: 40px;
  min-height: 200px;
  animation: opacityAnimation 0.1s ease normal;

  @media (max-width: 490px) {
    width: 100%;
    padding: 20px;
    margin: 10px;
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
